[submodule "docs"]
	path = docs
	url = https://github.com/Lazy-Solutions/com.lazy-solutions.asm-docs.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/Lazy-Solutions/com.lazy-solutions.asm-docs.git
